In [58]:
import nltk
import spacy
import pandas as pd
import numpy as np

In [49]:
/media/krishna/88356b6e-eda9-4612-9c56-c44911a1b8ae/NLP Project/NLP Project/user_and_bert_location.xlsx

SyntaxError: invalid syntax (1963178655.py, line 1)

In [61]:
df= pd.read_excel("/media/krishna/88356b6e-eda9-4612-9c56-c44911a1b8ae/NLP Project/NLP Project/user_and_bert_location.xlsx")
df = df
df.head(60)

,date,id,content,username,like,retweet,user_location,Location_extracted_using_Bert
0,2023-06-28,1673917823100519936,One main cause of these floods is infrastructu...,Ashwini96988554,0,0,India,['India']
1,2023-06-28,1673917116733349888,@TimothyGouldso1 @JustinTrudeau world wide we ...,londonwriters,0,0,"Vancouver / Toronto / London, Montreal , Roma","['India', 'USA', 'Canada']"
2,2023-06-28,1673917069488979968,"Did y'all know that since 2014, India as becom...",Ashwini96988554,1,0,India,"['India', 'Bangladesh']"
3,2023-06-28,1673911653652630016,Assam Braces for Eid Amidst Devastating Floods...,newsnortheastin,0,0,NaN,['Assam']
4,2023-06-28,1673911602402449920,"Heavy rains hit the city of #Ahmedabad, #India...",cgtnamerica,3,1,"Washington, DC","['Ahmed', '#', 'India', 'Gujarat']"
5,2023-06-28,1673909859346180096,#BangkokPost: Flood victims in India's northea...,BangkokPostNews,0,1,Thailand,"['India', 'Assam']"
6,2023-06-28,1673907543704489984,"Floods Hit Barpeta District, Assam: Over 67,00...",newsnortheastin,0,0,NaN,"['Bar', 'Assam', 'Bar', 'Assam']"
7,2023-06-28,1673905511832630016,"Things To Witness Once Before You Die In,India...",RohitCh21443690,0,1,NaN,"['India', 'Delhi', 'Rajasthan']"
8,2023-06-28,1673905340398860032,VIDEO | Several villages in Sonitpur district ...,PTI_News,21,4,"New Delhi, India","['Son', 'Assam']"
9,2023-06-28,1673905081614469888,Major Landslide in India\n1) The Malpa landsli...,gjsontake,11,2,"Pune, India","['India', 'Mal', 'India', 'Mal', 'Pit', 'Uttar..."
10,2023-06-28,1673889672630599936,'#Flood the #Economy': #China's #Stimulus #Err...,latticenews,0,0,United Kingdom,"['China', 'India', 'Japan']"
11,2023-06-28,1673888475287010048,Narendra Modi asks JP Nadda what's going on in...,santhoshd,1,0,Terra Unfirma,"['India', 'Man']"
12,2023-06-28,1673882523649070080,Flash Floods and Landslides In Northern India\...,BelieversIas,0,0,"BTM Layout, Bengaluru South",['Northern']
13,2023-06-28,1673874273021090048,India floods: 'I have to start again from zero...,amitsharmalie,0,0,"Hempstead, NY",['India']
14,2023-06-28,1673864432294810112,Thank u @SabrinaSiddiqui for standing up last ...,zuberjafri,0,0,"Pennsylvania, USA",[]
15,2023-06-28,1673858003206850048,@1MRNES In the last few years my parish has we...,PeterJTosh1,2,0,NaN,"['E', '##rit', 'Ukraine', 'Belarus', 'Russia',..."
16,2023-06-28,1673852195886779904,India Floods.,SebastianKoh8,0,0,NaN,['India']
17,2023-06-27,1673841836723699968,Someone posing as a assistant for Mr Bill Pult...,murdaugh_drew,2,0,"Los Angeles, CA",['India']
18,2023-06-27,1673841526554919936,"Must those, the twain beside our vital flood, ...",IndiaMarsh38786,0,0,NaN,[]
19,2023-06-27,1673841431008669952,@tehseenp @chittukuruvi4 Nope that's not the b...,parasmerc,1,0,NaN,[]
20,2023-06-27,1673834071007300096,"@PurePoll New Delhi, Hong Kong, Cairo, Pretor...",ThatGuy3196,0,0,NaN,"['Hong', 'Cairo', 'Pre', 'Egypt', 'South', 'In..."
21,2023-06-27,1673823911329530112,India floods: ‘I have to start again from zero...,GabbyWEUNV,0,0,NaN,"['India', 'India', 'Assam']"
22,2023-06-27,1673822602194830080,@ARanganathan72 @BluOneInk There's no one more...,A10ARK,0,0,Timbaktu,['India']
23,2023-06-27,1673810938112399872,Flood victims in India's northeastern flood-ra...,ReutersAsia,3,0,NaN,"['India', 'Assam']"
24,2023-06-27,1673805629046109952,"@ADHDdesigner Growing up, I did the chore of f...",apaxon,1,0,Boston,['India']
25,2023-06-27,1673803388960620032,A woman in India was saved from almost certain...,RT_com,148,29,NaN,"['India', 'G']"
26,2023-06-27,1673789018922959872,"Thank God for Hindu India, every year we could...",ShivoBhairava,0,0,saptsindhu,"['India', 'Bang']"
27,2023-06-27,1673787030596199936,People in India's northeastern state of Assam ...,Reuters,47,13,Around the world,"['India', 'Assam']"
28,2023-06-27,1673773256870970112,@flying_dusk @michaelxpettis Why is it time to...,SaeedFX1,0,0,Between EURUSD,"['West', 'India', 'China', 'Asia']"
29,2023-06-27,1673753812073349888,A 61-year-old woman found herself trapped in h...,RT_Doc,1,1,NaN,"['G', '##ha', 'India']"
30,2023-06-27,1673753066393270016,"Five people are killed and over 155,000 affect...",TRTWorldNow,6,0,"Istanbul, Türkiye","['India', 'Assam']"
31,2023-06-27,1673746580338540032,India floods: 'I have to start again from zero...,Beverlylovesboi,1,0,"Las Vegas, Nevada, USA",['India']
32,2023-06-27,1673745028559290112,India floods: 'I have to start again from zero...,AndyVermaut,0,0,"Diksmuide, België",['India']
33,2023-06-27,1673745023027020032,India floods: 'I have to start again from zero...,rogue_corq,0,0,Up in ur timeline,['India']
34,2023-06-27,1673745021445730048,India floods: 'I have to start again from zero...,mubasheer2022,0,0,"Taif, Saudi Arabia",['India']
35,2023-06-27,1673740473708559872,People in India's northeastern state of Assam ...,ReutersAsia,2,1,NaN,"['India', 'Assam']"
36,2023-06-27,1673728031985210112,Video: Car washed away in flash floods as heav...,CNode_news,0,0,"nr Cambridge, UK",['Haryana']
37,2023-06-27,1673726633423920128,Flood victims in India's northeastern flood-ra...,Reuters,39,12,Around the world,"['India', 'Assam']"
38,2023-06-27,1673724108645829888,This should be everywhere in India to keep low...,ZupiterMonk,0,0,NaN,['India']
39,2023-06-27,1673721017619950080,Crowd-sourcing can offer data to forecast floo...,CNode_news,0,0,"nr Cambridge, UK",[]
40,2023-06-27,1673718319298299904,@DaleVince @KayBurley @SkyNews @JustStop_Oil H...,waynelico,0,0,"England, United Kingdom",['India']
41,2023-06-27,1673704225430469888,I'm excited to share my latest research articl...,Jayesh_rivers,7,2,Kolkata 🛫 New Delhi 🇮🇳,"['India', 'God']"
42,2023-06-27,1673692787311800064,Barpeta District: Relief Camps Provide Shelter...,newsnortheastin,0,0,NaN,"['Bar', 'Assam']"
43,2023-06-27,1673692690188489984,#Assam | The people affected by floods in the ...,NewsMobileIndia,0,1,India,"['Assam', 'Bar', 'Kay', 'Pak']"
44,2023-06-27,1673691658020349952,Torrential rains and lightning claim lives acr...,KIDataApp,0,1,San Francisco,"['India', 'Punjab', 'Him', '##achal', 'Punjab']"
45,2023-06-27,1673676506868979968,Indian States Reel Under Monsoon’s Deadly Flas...,TodayOnGlobe,0,0,NaN,['Indian']
46,2023-06-27,1673675094785240064,Extreme weather in Asia: Heat in Beijing and f...,RLFFLLCWX,0,0,NaN,"['Asia', 'Beijing', 'India']"
47,2023-06-27,1673675091563930112,Extreme weather in Asia: Heat in Beijing and f...,RedLights4FF,0,0,"Watertown, NY","['Asia', 'Beijing', 'India']"
48,2023-06-27,1673671358474070016,#AssamFlood situation in last 24 hours..\n.\n#...,sdma_assam,3,1,"Guwahati, India",['Jo']
49,2023-06-27,1673666659385499904,"Assam Floods: Significant Improvement Seen, Ba...",newsnortheastin,1,1,NaN,"['Assam', 'Bar', 'Bar', 'Assam']"
50,2023-06-27,1673666067636400128,"Hyderabad Floods: Rapid urbanisation, change i...",CNode_news,0,0,"nr Cambridge, UK","['Hyderabad', 'Hyderabad']"
51,2023-06-27,1673660133023399936,@monkwhosoldpen @Rohan_Bhargava_ @JhaSanjay Ye...,LauraaListen,1,0,In My Head,"['B', 'India']"
52,2023-06-27,1673656886263000064,Empower yourself to be a hero in times of cris...,RLSSIndia,0,0,"Pune, India",['India']
53,2023-06-27,1673656503746589952,"Request to @myogiadityanath , @BJP4India ,@INC...",IndianBN2K40,0,0,India,"['India', 'Ma', 'Rajasthan']"
54,2023-06-27,1673656168747599872,#Flood | Watch your step during #floods. https...,ndmaindia,2,1,New Delhi-110029,[]
55,2023-06-27,1673654911744229888,"Heavy rains hit the city of #Ahmedabad, #India...",cgtnamerica,4,0,"Washington, DC","['Ahmed', '#', 'India', 'Gujarat']"
56,2023-06-27,1673652387230409984,@narendramodi I am a Bangladeshi requesting Mr...,refin21,0,0,NaN,['India']
57,2023-06-27,1673648870394569984,#Floods | Remember to turn off power &amp; gas...,ndmaindia,10,2,New Delhi-110029,[]
58,2023-06-27,1673645621792900096,"On Tuesday, flood-ravaged #Assam finally exper...",weatherindia,6,1,India,['Assam']
59,2023-06-27,1673642454774419968,"In #UttarPradesh 's #Meerut district, a sectio...",IndiaObservers,0,0,India,"['Me', 'Gang']"

In [53]:
count = df['Location_extracted_using_Bert'].str.count('Bangalore').sum()
count

22

In [7]:
assam_count

304